### Notebook for data processing

dataset link: https://github.com/ZILiAT-NASK/BAN-PL/tree/main

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv('data/BAN-PL_1/BAN-PL.csv')

print(f"First df shape: {df.shape}")

First df shape: (24000, 3)

In [8]:
df.columns

Index(['id', 'Text', 'Class'], dtype='object')

In [9]:
df = df.drop(columns=["id"])
df.columns

Index(['Text', 'Class'], dtype='object')

In [10]:
df["Text"].unique().shape

(23985,)

In [11]:
df["Class"].value_counts()

Class
0    12000
1    12000
Name: count, dtype: int64

In [12]:
df.head(3)

                                                Text  Class
0  \n\n\n            Polska wtedy oficjalnie powi...      0
1  \n  Gigantyczna różnica\n\n{USERNAME}: biorac ...      0
2  \n\n            {USERNAME}: Moj kumpel budowla...      0

In [13]:
df[df["Class"] == 1].iloc[0]

Text     {USERNAME}: W sposób ciągly, zorganizowany i w...
Class                                                    1
Name: 12000, dtype: object

### Nothing to do with it, it is well prepared

In [14]:
train_df, test_df = train_test_split(df, test_size=0.1, random_state=42, stratify=df["Class"])

train_df.to_csv("data/train.csv", index=False)
test_df.to_csv("data/test.csv", index=False)

In [15]:
train_df.head(5)

                                                    Text  Class
12817  {USERNAME}: chuj cie to smieciu to ja uzbieral...      1
2174   {USERNAME}: Podawanie cytryny do mięs miało za...      0
19999  ale kurwa rzygłem tym kmiotem, który to wysrał...      1
21112  {USERNAME}: No pewnie, że jestem podekscytowan...      1
21373  {USERNAME}: XDDD zdefekuj se do otworu gęboweg...      1

In [17]:
train_df["length"] = train_df["Text"].apply(lambda x: len(str(x).split()))

print("Min długość:", train_df["length"].min())
print("Max długość:", train_df["length"].max())
print("Średnia:", train_df["length"].mean())
print("Mediana:", train_df["length"].median())

Min długość: 1
Max długość: 2719
Średnia: 30.166481481481483
Mediana: 17.0